

.header {
  background-color: #39474e;
  height:111px;
}


}


.TIYlogo{
  position: relative;
 top: 50%;
 transform: translateY(-50%);
 padding-top: 15%;
}


.tophalf{
  height:600px;
  background-image: url('../images/TIY-top-photo.jpg');

}
.getstarted{
  height: 50px;
  padding:15px;
  background-color: #6fbbb7;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  font-size: 25px;
  font-family:'PT Serif', serif;
  font-style: italic;
  margin-left: 120px;

  }


.where {
  font-size: 60px;
  font-weight:bold;
  font-family:PT 'PT Serif', serif;
  color:white;
  margin-top:200px;
  margin-left: 50px;
  padding:10px;
}

.learnto {
  font-size: 30px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  color: white;
  margin-left:50px;
  margin-bottom: 20px;
  padding:20px;
}
.buttonfact{
  text-align: center;
  background-color: #6fbbb7;
  color: white;
  font-style: italic;
  font-family: 'PT Serif', serif;
  font-size: 24px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 5px;

}
.youremailhere{
  color:lightgrey;

  border: .5px solid lightgrey;
  font-size: 18px;
  font-style: italic;
  font-family: 'PT Serif', serif;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding:15px;
}



.lefthdcol{
  margin-left:5%;
  color: white;
  font-size: 25px;


}

.lefttext{
  font-weight: 400;
  line-height:1.6;
  margin-left: 30px;

}

.righthdcol {

padding:20px;


}



.media{
  height: 111px;
  background-color: #eeeeee;
  border-bottom: 1px solid dimgrey;
  margin-top: -10px;

}

.text{
margin-top: 20px;
color:grey;
font-family: serif;
}
.h3{
margin-top: 15px;
margin-bottom: 15px;
font-style: italic;
font-weight: bold;
font-size: 26px;
}

.paragraph {
  font-size: 18px;
  margin-bottom: 20px;
}


.greenbox{
background-color:#ebebeb;
border-radius: 5px;
}
.boxph5{
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 700px;
  margin-top: 40px
}

.quickoverview{
  padding-bottom: 50px;
  font-family: 'PT Serif',serif;
  line-height: 1.6em;
  font-size: 18px;
}

.YourEmail{
  background-color: white;
  color: #a9a9a9;
  border: .5px black solid;
  margin-bottom: 75px;
}
.email{
    color: #ffffff;
    border-radius: 5px;
    font-size: 24px;
    font-style: italic;
    font-weight: bolder;
    margin-bottom: auto;

}
.discovercolumn{
  height: 415px;
border:1px black solid;

  font-family: serif;
  background-color: #eeeeee;

}
.discoverrow{
    text-align: center;
}
.discoverh4{
  color:#dimgrey;
    font-size: 34px;
    line-height: 36px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.discovertext{
color:#39474e;
font-size: 18px;
line-height: 1.6em;
margin-left: 20%;
margin-right:20%;
padding-bottom: 40px;

}

.frontend {
  color:#ce832d;
  font-size: 20px;
  line-height: 1.4em;
  padding-top: 5px;
}

.backend{
  color:#B8584C;
  line-height: 1.4em;
  padding-top: 5px;
}
.mobile{
  color: #e1d292;
line-height: 1.4em;
padding-top: 5px;
}
.design{
  line-height: 1.4em;
  color:#35a0ad;
  padding-top: 5px;
}
.bottompic {
height: 1200px;
background-image: url('../images/bottom-image.jpg');
border: black 1px solid;
}
.employersrow{

height: 150px;

}
.employerscol{
  text-align: center;
  color:white;

}
.employersh2{
font-style: italic;
font-family: 'PT Serif', serif;
padding-top: 15px;
padding-bottom: 15px;
}
.employerstext{
  font-size: 18px;
  line-height: 1.6;
  font-family: 'PT Serif', serif;


}
.employerstext{
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'PT Serif', serif;
}

.employers1row {
border: black 1px solid;
}
.logorow{
padding-bottom: 500px;

}

.logo1column{
text-align: center;


}
.logo2column{
  text-align: center;
}

.logo3column{
  text-align: center;

}
.empbuttoncolumn{

  text-align: center;

}


.employersbutton{


}
.button{
  text-align: center;
  background-color: #6fbbb7;
  color: white;
  font-style: italic;
  font-family: 'PT Serif', serif;
  font-size: 24px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 5px;
  margin-top: 400px;
}

.contactrow{

height: 319px;
margin-left: 15;
margin-right:15;

}
.questions{
  color: #838F95;
  font-family: 'PT Serif',serif;
  padding-top: 15px;
  padding-left:15%;
  font-size: 25px;
}
.letstalk{
  color: #838F95;
  font-family: 'PT Serif',serif;
  padding-top: 15px;
  padding-left:15%;
  font-size: 40px;
  font-style: italic;
  font-weight: bolder;
}
.letstalktext{
  padding-top: 15px;
  padding-bottom:15px;
  padding-left: 15%;
  padding-right: 10%;
  color: #838F95;
  line-height: 1.6em;
  font-size: 18px;
  font-family: 'PT Serif',serif;
}



.contactboxl{
  background-color: #ebebeb;
  margin-top:40px;
  margin-right: 10px;
  height:309px;
  width: 20%;
  border-radius: 5px;
  border-bottom: 2px solid grey;
  font-family: 'PT Serif',serif;
  line-height: 1.6em;

}



.boxtextl{
padding-bottom:50px;
line-height: 1.6em;
font-size: 18px;
font-family: 'PT Serif',serif;
}



.contactboxr{
  background-color: #ebebeb;
  margin-top:40px;
  margin-left: 10px;
  height:309px;
  width: 20%;
  border-radius: 5px;
  border-bottom: 2px solid grey;
  font-family: 'PT Serif',serif;
  line-height: 1.6em;
}
.boxtextr{
padding-bottom: 80px;
line-height: 1.6em;
font-size: 18px;
font-family: 'PT Serif',serif;
}

.buttonphone{
  text-align: center;
  background-color: #6fbbb7;
  color: white;
  font-style: italic;
  font-family: 'PT Serif', serif;
  font-size: 24px;
  padding-left: 60px;
  padding-right: 40px;
  border-radius: 5px;

}

.buttonemail{
  text-align: center;
  background-color: #6fbbb7;
  color: white;
  font-style: italic;
  font-family: 'PT Serif', serif;
  font-size: 24px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 5px;


}

.contacth5{
  height:50px;
  background-color: white;
  margin-bottom: 20px;
}
.contacth4{
  padding-top: 15px;
  font-family: 'PT Serif', serif;
  font-weight: 600;

}
@media (min-width: 767px) {

}
